{{ .Title }}

id: {{ .ID | uuid }}
parent_id: {{ .NotebookID | uuid }}
created_time: {{ .Timestamp | time }}
updated_time: {{ .Timestamp | time }}
is_conflict: 0
latitude: 0.00000000
longitude: 0.00000000
altitude: 0.0000
author:
source_url:
is_todo: 0
todo_due: 0
todo_completed: 0
source:
source_application:
application_data:
order: 0
user_created_time: {{ .Timestamp | time }}
user_updated_time: {{ .Timestamp | time }}
encryption_cipher_text:
encryption_applied: 0
markup_language: 1
is_shared: 0
share_id:
conflict_original_id:
master_key_id:
user_data:
type_: 1